<div class="container mt-5">
    <div class="row">
      <% items.forEach(function(item) { %>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="<%= item.img %>" style=" height: 200px; object-fit: cover;" alt="Tour Image">
            <div class="card-body">
              <h5 class="card-title"><%= item.source %> to <%= item.destination %></h5>
              <p class="card-text"><%= item.description %></p>
              <p class="card-text text-primary font-weight-bold">$<%= item.price %></p>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>